/**
 * Admin styles
 */
html.js body input.form-autocomplete {
  background-position: 100% 30px;
}

dd {
  color: #a3a3a3;
  margin-left: 10px;
}

.page-admin #page,
.page-admin fieldset {
  max-width: 1400px;
}

#page tr {
  background-color: #fff;
  border-bottom: 1px solid #a3a3a3;
}

#page td {
  padding-right: 20px;
}

#page tr.ok {
  border-left: 5px solid #009449;
}

#page tr.info {
  border-left: 5px solid #98d0a0;
}
#page tr.warning {
  border-left: 5px solid #ffd36d;
}

.status-title {
  font-weight: bold;
}

.vertical-tabs-list li {
  display: block;
}
