/**
 * Author: @TEDavis
 *
 **/

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #161616;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 130%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.serif {
  font-family: Georgia, serif;
}


a {
  color: #f47c25;
  text-decoration: none;
}

#header a.active,
#header a:hover {
  color: #fff;
}

a.active,
a:hover {
  color: #a3a3a3;
}

#page {
  margin: auto;
  margin-bottom: 40px;
  margin-top: 150px;
  max-width: 700px;
  padding: 0px 20px;
}

h1,
h2,
h3 {
  line-height: 1.5em;
}

.title {
  border-bottom: 1px solid #161616;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

blockquote,
code,
pre {
  background: #f3f3f3;
  border-left: 5px solid #f47c25;
  display: block;
  font: inherit;
  margin: 20px 0px;
  padding: 20px;
}

.comment {
  border-bottom: 1px solid #161616;
  padding-bottom: 20px;
}

/* Header */

.toolbar #header {
  top: 40px;
}

#header {
  background-color: #161616;
  color: #fff;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 98%;
}
#header ul {
  display: inline;
  float: right;
  margin: 0;
  padding: 0px 20px 0px 0px;
}
#header li {
  margin-right: 20px;
}

.item-list ul li,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li,
.tabs li {
  display: inline;
}

.date,
.description {
  color: #a3a3a3;
}

/** Messages  **/
.element-invisible,
.messages h2 {
  display: none;
}

label,
.messages ul li {
  display: block;
}
#page .messages {
  background: none;
  padding: 10px;
}

.messages.status {
  border: 2px solid #009449;
  color: #009449;
}
.messages.warning {
  border: 2px solid #ffd36d;
  color: #ffd36d;
}

.form-required,
.messages.error {
  color: #ce2121;
}
.error {
  border: 2px solid #ce2121;
}

/** Form items **/
.form-item {
  margin-bottom: 20px;
}

input,
textarea {
  font: inherit;
  margin: 0;
  padding: 10px;
}
fieldset {
  border: 1px solid #161616;
  margin-bottom: 20px;
  padding: 10px;
}
fieldset,
input[type="password"],
input[type="text"],
textarea {
  max-width: 500px;
  width: 90%;
}
input[type="submit"] {
  background: #f47c25;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 20px;
}

/** Tabs & Contextual Links **/

ul.tabs {
  border-bottom: 1px solid #161616;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.serif ul.tabs li {
  padding: 4px 10px;
}

ul.tabs li {
  border: 1px solid #161616;
  border-bottom: 0 none;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px 10px;
}

ul.tabs li.active,
ul.tabs li:hover {
  background-color: #fff;
}

#footer {
  border-top: 1px solid #161616;
  display: block;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}

.contextual-links-wrapper ul{
  display: none;
}

.attribution {
  display: block;
}

@media screen and (max-width: 400px) {
  body #page {
    margin-top: 20px;
  }
  body #header li {
    display: block;
  }
  body #header ul {
    display: block;
    float: none;
    margin-top: 10px;
  }
  body #header {
    padding-right: 0;
    position: relative;
    width: 95%;
  }
}
